---
import ProjectCard from "@/components/sections/projects/ProjectCard.astro";
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import { Github } from "lucide-react";
const projects = [
  {
    title: "Expo Crop Image",
    description:
      "Allows user to crop image with given aspect ratio for react native using expo on Android and IOS.",
    link: "https://github.com/nitoba/expo-crop-image",
    image:
      "https://github.com/nitoba/expo-crop-image/raw/main/.github/assets/preview.png",
  },
  {
    title: "Design System Nito UI",
    description:
      "A React component library for building consistent, high-quality user interfaces. The library provides components based on modern, accessible design patterns, enabling developers to quickly build beautiful, responsive web apps. The components are highly customizable via a system of design tokens and themes. This allows easily adapting the look and feel of components to suit any project's needs. Built with a focus on performance and accessibility, React Design System is a great choice for teams wanting to speed up development with reusable, production-ready components.",
    link: "https://nitoba.github.io/nito-design-system/",
    image:
      "https://github.com/nitoba/nito-design-system/raw/main/.github/preview.jpg",
  },
  {
    title: "Ignite Call",
    description:
      "Meet Igite Call, the event-juggling scheduler for everyone. Focus on meeting, not making meetings. Free for individuals.",
    link: "https://ignite-call-nito-ba.vercel.app/",
    image: "https://github.com/nitoba/ignite-call/raw/main/.github/preview.png",
  },
  {
    title: "Setup Projects",
    description:
      "This repository contains scripts to configure standard code styles and commit messages for projects using Node and Typescript",
    link: "https://github.com/nitoba/setup-projects",
    image:
      "https://github.com/nitoba/setup-projects/raw/main/.github/preview.png",
  },
  {
    title: "The Music App",
    description:
      "The Music App is a music streaming web application that allows users to listen to songs, albums, playlists, and podcasts. Users can create accounts, search for music, follow artists, create playlists, share music, and listen across multiple devices. MusicStream has a large catalog of songs and podcasts from major and independent labels. Users can stream music on-demand, download music for offline listening, and get recommendations based on their listening history and preferences.",
    link: "https://the-music-app.vercel.app/",
    image:
      "https://github.com/nitoba/the-music-app/raw/main/.github/preview.png",
  },
  {
    title: "The Movie App",
    description:
      "The Movie App is a website where users can browse the most popular and highly rated movies and TV shows. The site features a user-friendly interface that allows visitors to easily search and filter movies and shows by genre, release year, rating, and more. The Movie App offers streaming access to thousands of titles across all major genres like action, comedy, drama, sci-fi, and more. Users can create their own watchlists and get personalized recommendations based on their viewing history and preferences. The site is frequently updated with new and trending movies and shows so there's always something new to discover. Overall, The Movie App aims to be the go-to destination for users to conveniently access and watch the hottest and most buzzworthy titles in movies and television.",
    link: "https://the-movie-app-teal.vercel.app/",
    image:
      "https://github.com/nitoba/the-movie-app/raw/main/.github/preview.png",
  },
  {
    title: "Virtual University Landing Page",
    description:
      "This landing page is designed for a new online university offering virtual degree programs and courses. The goal of the page is to introduce the university, explain the benefits of online learning, and convince prospective students to enroll. The page will have sections describing the university's mission, history, faculty, degree programs, courses, tuition information, and student resources. There will be testimonials from current students highlighting the flexibility and quality of the online learning experience. The design will be clean, modern, and optimized for mobile devices. Interactive features will include an enrollment form, course catalog, tuition calculator, and live chat for answering prospective student questions. The goal is to clearly communicate the value proposition of this innovative virtual university and make the enrollment process as seamless as possible.",
    link: "https://virtual-university-landing-page.vercel.app/",
    image:
      "https://github.com/nitoba/virtual-university-landing-page/raw/main/.github/preview.png",
  },
  {
    title: "Coffe Delivery",
    description:
      "Coffee Delivery is your go-to online shop for fresh, high-quality coffee beans delivered straight to your door. We source our beans directly from small farms around the world to bring you a wide variety of single-origin and blended coffees. Our easy-to-navigate online store makes finding your perfect morning cup simple. Choose from light, medium, and dark roasts. Try different brewing methods with whole beans or ground coffee tailored to espresso, drip, French press, and more. Subscribe and save with regular deliveries so you never run out. At Coffee Delivery, we're dedicated to sustainably sourced coffee and convenient online ordering. Wake up to better coffee with us!",
    link: "https://github.com/nitoba/coffee-delivery",
    image:
      "https://github.com/nitoba/coffee-delivery/blob/main/.github/preview.png?raw=true",
  },
];

const projectsInDev = [
  {
    title: "Psyfi",
    link: "https://github.com/nitoba/psyfi",
  },
  {
    title: "Poll Voting",
    link: "https://github.com/nitoba/poll-voting",
  },
];
---

<section
  class="flex flex-col gap-5 bg-foreground w-full px-4 py-5"
  id="projects"
>
  <div class="flex gap-4 py-5 mx-auto mt-8">
    <p class="lg:text-5xl text-4xl text-background">My</p>
    <p class="lg:text-5xl text-4xl font-extrabold text-background">Projects</p>
  </div>
  <div class="flex flex-col mx-auto">
    {
      projects.map(({ title, description, image, link }, i) => (
        <ProjectCard
          index={i + 1}
          title={title}
          description={description}
          link={link}
          image={image}
          orientation={i % 2 === 0 ? "left" : "right"}
        />
      ))
    }
  </div>
  <Separator className="bg-zinc-700 w-3/4 mx-auto" />
  <div class="flex gap-2 lg:py-5 mx-auto">
    <p class="text-3xl text-background">In</p>
    <p class="text-3xl font-extrabold text-background">Development</p>
  </div>
  <span class="mx-auto text-zinc-500 lg:text-xl max-w-3xl text-center">
    Some projects using focusing in archtecture and design pattern principals
    like Clean Archtecture, DDD (Domain Driver Design), SOLID and so on. Follow
    then bellow
  </span>
  <div class="flex gap-4 mx-auto">
    {
      projectsInDev.map(({ title, link }) => (
        <a
          href={link}
          target="_blank"
          class="border border-border size-24 px-2 flex flex-col items-center justify-center rounded-sm group hover:bg-background transition-colors duration-300"
        >
          <span class="text-background text-center outline-text font-medium">
            {title}
          </span>
        </a>
      ))
    }
  </div>
  <div class="mx-auto">
    <Button variant="ghost" className="group">
      <a href="https://github.com/nitoba?tab=repositories" target="_blank">
        <span
          class="text-xl inline-flex gap-2 items-center outline-text text-background uppercase font-bold"
        >
          See All On <Github
            className="size-5 fill-current group-hover:fill-foreground stroke-current group-hover:stroke-foreground"
          />
        </span>
      </a>
    </Button>
  </div>
</section>
