---
import ProjectCard from "@/components/sections/projects/ProjectCard.astro";
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import { Github } from "lucide-react";
import { projects } from "./projects-data";

const projectsInDev = [
  {
    title: "Psyfi",
    link: "https://github.com/nitoba/psyfi",
  },
  {
    title: "Poll Voting",
    link: "https://github.com/nitoba/poll-voting",
  },
];
---

<section
  class="flex flex-col gap-5 bg-foreground w-full px-4 py-5"
  id="projects"
>
  <div class="flex gap-4 py-5 mx-auto mt-8">
    <p class="lg:text-5xl text-4xl text-background">My</p>
    <p class="lg:text-5xl text-4xl font-extrabold text-background">Projects</p>
  </div>
  <div class="flex flex-col mx-auto">
    {
      projects.map(({ title, description, image, link }, i) => (
        <ProjectCard
          index={i + 1}
          title={title}
          description={description}
          link={link}
          image={image}
          orientation={i % 2 === 0 ? "left" : "right"}
        />
      ))
    }
  </div>
  <Separator className="bg-zinc-700 w-3/4 mx-auto" />
  <div class="flex gap-2 lg:py-5 mx-auto">
    <p class="text-3xl text-background">In</p>
    <p class="text-3xl font-extrabold text-background">Development</p>
  </div>
  <span class="mx-auto text-zinc-500 lg:text-xl max-w-3xl text-center">
    Some projects using focusing in archtecture and design pattern principals
    like Clean Archtecture, DDD (Domain Driver Design), SOLID and so on. Follow
    then bellow
  </span>
  <div class="flex gap-4 mx-auto">
    {
      projectsInDev.map(({ title, link }) => (
        <a
          href={link}
          target="_blank"
          class="border border-border size-24 px-2 flex flex-col items-center justify-center rounded-sm group hover:bg-background transition-colors duration-300"
        >
          <span class="text-background text-center outline-text font-medium">
            {title}
          </span>
        </a>
      ))
    }
  </div>
  <div class="mx-auto">
    <Button variant="ghost" className="group">
      <a href="https://github.com/nitoba?tab=repositories" target="_blank">
        <span
          class="text-xl inline-flex gap-2 items-center outline-text text-background uppercase font-bold"
        >
          See All On <Github
            className="size-5 fill-current group-hover:fill-foreground stroke-current group-hover:stroke-foreground"
          />
        </span>
      </a>
    </Button>
  </div>
</section>
