---
import { Badge } from "@/components/ui/badge";
import { ExternalLink } from "lucide-react";
interface Props {
  title: string;
  description: string;
  link: string;
  image: string;
  type: string;
  orientation: "left" | "right";
  index: number;
}

const { title, description, image, link, type, orientation, index } =
  Astro.props;
---

<div
  class="group flex lg:flex-row flex-col items-center lg:gap-10 gap-5 py-5"
  data-orientation={orientation}
>
  <img
    src={image}
    class="rounded-2xl object-cover lg:w-[33.125rem] lg:h-[24.858125rem] w-[21.625rem] h-[24.858125rem] lg:group-data-[orientation=left]:order-1 lg:group-data-[orientation=right]:order-2"
    style="box-shadow: 0px 8px 18px -6px rgba(24,39,75,0.12), 0px 12px 42px -4px rgba(24,39,75,0.12);"
  />

  <div
    class="flex flex-col lg:gap-7 gap-3 lg:group-data-[orientation=left]:order-2 lg:group-data-[orientation=right]:order-1 lg:max-w-[582px]"
  >
    <Badge className="w-fit" variant="secondary">{type}</Badge>
    <p class="lg:text-5xl text-2xl font-bold text-background">
      {index.toString().padStart(2, "0")}
    </p>
    <p class="lg:text-[2rem] text-xl font-bold text-background">
      {title}
    </p>
    <p class="text-base text-zinc-500 line-clamp-5">
      {description}
    </p>
    <a
      href={link}
      target="_blank"
      class="w-fit hover:opacity-50 transition-opacity duration-300"
    >
      <ExternalLink className="text-background" />
    </a>
  </div>
</div>
